/* 모바일 기준 */
/* common 스타일 */
*{margin: 0; padding: 0;}
#container{width: 100%; margin: 0 auto;}
a{text-decoration: none;}
ul li{list-style: none;}

/* header 스타일 */
header{width: 100%; height: 100px; background: #0077cc;}
#logo{float: left; width: 30%; height: 100px; line-height: 100px; text-align: left;}
#logo h1{color: #eee; padding-left: 10px; font-size: 1.4em; font-style: italic;}
nav{float: right; width: 70%; height: 100px; }
/* 주메뉴 */
#topMenu{height: 60px; padding-left: 20px;}
#topMenu > li{float: left; position: relative;}
#topMenu > li > a{display: block; padding: 40px 10px; color: #eee;
   font-size: 0.9em;}
#topMenu > li > a:hover{ color: #444;}
#topMenu > li > a > .session{color: #ff0; font-size: 0.8em;}

/* 부메뉴 */
#topMenu > li > ul{display: none; position: absolute; top: 100px; left: -30px;
   width: 130px; background: rgba(246, 248, 213, 0.6); }
#topMenu > li:hover > ul{display: block;}
#topMenu > li > ul > li{padding: 10px 20px; text-align: center;}
#topMenu > li > ul > li > a{font-size: 14px; padding: 5px; color: #000;}
#topMenu > li > ul > li > a:hover{color: red;}

/* main 스타일 */
#main-pic img{width: 100%; height: 240px;}
#main{clear: both; margin: 30px auto 100px; text-align: center;}
#main h2{font-size: 1.2em;}
#main .img1{margin: 20px auto; text-align: center;}
#main .img1 img{border-radius: 5px; width: 350px;}

/* footer 스타일 */
footer{height: 80px; border-top: 2px solid #222;}
#bottomMenu{margin: 10px 10px 10px 20px;}
#bottomMenu li{display: inline-block; margin: 10px 0; padding: 0 10px;
    border-right: 1px solid #ccc;}
#bottomMenu li a{color: #444; font-size: 0.9em;}
#bottomMenu li:last-child{border: none;}

/* register 스타일 */
#register{width: 400px; margin: 30px auto 100px;}
#register form{margin: 20px auto;}
#register form ul li{margin: 20px;}
#register form ul li:nth-of-type(6){text-align: center; margin-left: 0}
#register form label{width: 120px; float: left; padding-left: 10px;
    margin-right: 10px;}
#register form input[type='text']{width: 210px; height: 25px}
#register form input[type='password']{width: 210px; height: 25px}
#register form label.radio{width: 40px; padding-left: 0; margin-right: 15px;}
#register form li.button{clear: both; padding-top: 30px; margin-left: 150px;}
#register form input[type='button'],input[type='reset']{width: 80px; height: 30px}

/* memberlist 스타일 */
#memberlist{width: 450px; margin: 40px auto 100px;}
#memberlist table{width: 450px; margin: 30px auto;}
#memberlist table, th, td{border: 1px solid #ccc;
    border-collapse: collapse; text-align: center;}
#memberlist table th, td{padding: 10px 0; font-size: 0.9em;}
#memberlist table thead{background: #eee;}

/* login 스타일 */
#login {width: 400px; margin: 30px auto 100px;}
#login form{margin: 30px auto;}
#login form ul li{margin: 30px;}
#login form ul li:nth-of-type(3){text-align: center; margin-left: 0}
#login form label{width: 100px; float: left; padding-left: 10px;}
#login form input[type='text'],input[type='password']{width: 200px; height: 30px;}
#login form input[type='submit']{width: 100px; height: 30px;}
#login form p.error{text-align: center; color: #f00; font-weight: bold;
    padding-top: 15px;}

/* boardlist 스타일 */
#boardlist{width: 460px; margin: 40px auto 100px;}
#boardlist table{width: 460px; margin: 30px auto;}
#boardlist table, th, td{border: 1px solid #ccc; border-collapse: collapse;}
#boardlist table th, td{padding: 10px 5px; font-size: 0.6em;}
#boardlist table td:nth-of-type(2) {text-align: left; padding-left: 10px}
#boardlist table thead{background: #eee;}
#boardlist .btnWrite{text-align: right; margin-right: 10px;}
#boardlist .btnWrite button{padding: 10px;}

/* writing 스타일 */
#writing {width: 450px; margin: 40px auto 100px;}
#writing table {width: 450px; margin: 30px auto;}
#writing table, td {border: 1px solid #ccc;
    border-collapse: collapse;}
#writing table input[type='text'] {width: 420px; height: 25px; padding: 5px;}
#writing textarea {width: 420px; height: 300px; padding: 5px; line-height: 1.5; resize:none; font-family: "맑은고딕"}
#writing table input[type='submit'], input[type='reset'] {width: 80px; height: 30px;}

/* detail 스타일 */
#detail {width: 450px; margin: 40px auto 100px;}
#detail table {width: 450px; margin: 40px auto;}
#detail table, td {border: 1px solid #ccc; border-collapse: collapse;}
#detail table input[type='text'] {width: 420px; height: 25px; padding: 5px;}
#detail textarea {width: 420px; height: 300px; padding: 5px; line-height: 1.5; resize: none; font-family: "맑은고딕"}
#detail table button[type='button'] {width: 80px; height: 30px;}


/* update 스타일 */
#update {width: 450px; margin: 40px auto 100px;}
#update table {width: 450px; margin: 40px auto;}
#update table, td {border: 1px solid #ccc; border-collapse: collapse;}
#update table input[type='text'] {width: 420px; height: 25px; padding: 5px;}
#update textarea {width: 420px; height: 300px; padding: 5px; line-height: 1.5; resize: none; font-family: "맑은고딕"}
#update table button {width: 80px; height: 30px;}
#update table input[type='submit'], input[type='reset'] {width: 80px; height: 30px;}



/* 태블릿 기준 - 780px 이상 */
@media screen and (min-width: 780px){
   /* header 스타일 */
   #logo h1{color: #eee; padding-left: 20px; font-size: 1.6em; font-style: italic;}
   #topMenu{height: 60px; padding-left: 60px;}
   #topMenu > li > a{display: block; padding: 40px 30px; color: #eee;
        font-size: 1em;}
   #topMenu > li > ul{display: none; position: absolute;
    top: 100px; left: -10px; width: 140px; background: rgba(246, 248, 213, 0.6); }
    #topMenu > li > a > .session{color: #ff0; font-size: 0.9em;}

   /* main 스타일 */
   #main-pic img{width: 100%; height: 260px;}
   #main h2{font-size: 1.3em;}
   #main .img1 img{border-radius: 5px; width: 380px;}
   #bottomMenu{margin: 10px 10px 10px 50px;}

   /* register 스타일 */
    #register{width: 450px; margin: 30px auto 100px;}
    #register form{margin: 30px auto;}
    #register form ul li{margin: 30px;}
    #register form label{width: 120px; float: left; padding-left: 20px;
          margin-right: 10px;}

    /* memberlist 스타일 */
    #memberlist{width: 550px; margin: 40px auto 100px;}
    #memberlist table{width: 550px; margin: 30px auto;}

    /* login 스타일 */
    #login {width: 440px; margin: 30px auto 100px;}
    #login form{margin: 30px auto;}
    #login form ul li{margin: 35px;}
    #login form label{width: 100px; float: left; padding-left: 20px;}

    /* boardlist 스타일 */
    #boardlist{width: 550px; margin: 40px auto 100px;}
    #boardlist table{width: 550px; margin: 30px auto;}
    #boardlist table th, td{padding: 10px 5px; font-size: 0.8em;}


    /* writing 스타일 */
    #writing {width: 550px; margin: 40px auto 100px;}
    #writing table {width: 550px; margin: 30px auto;}
    #writing table input[type='text'] {width: 530px; height: 25px; padding: 5px}
    #writing textarea {width: 530px; height: 350px; padding: 5px; line-height: 1.5;}


    /* detail 스타일 */
    #detail {width: 550px; margin: 40px auto 100px;}
    #detail table {width: 550px; margin: 30px auto;}
    #detail table input[type='text'] {width: 530px; height: 25px; padding: 5px}
    #detail textarea {width: 530px; height: 350px; padding: 5px; line-height: 1.5;}


    /* update 스타일 */
    #update {width: 550px; margin: 40px auto 100px;}
    #update table {width: 550px; margin: 30px auto;}
    #update table input[type='text'] {width: 530px; height: 25px; padding: 5px}
    #update textarea {width: 530px; height: 350px; padding: 5px; line-height: 1.5;}


}

/* PC 기준 - 1100px 이상 */
@media screen and (min-width: 1100px){
    #container{width: 1100px; margin: 0 auto;}

    /* header 스타일 */
   #logo h1{color: #eee; padding-left: 30px; font-size: 1.8em; font-style: italic;}
   #topMenu{height: 60px; padding-left: 100px;}
   #topMenu > li > a{display: block; padding: 40px 50px; color: #eee;}
   #topMenu > li > ul{display: none; position: absolute;
    top: 100px; left: 0px; width: 140px; background: rgba(246, 248, 213, 0.6); }

    /* main 스타일 */
   #main{clear: both; margin: 40px auto 100px; text-align: center;}
   #main-pic img{width: 100%; height: 280px;}
   #main h2{font-size: 1.4em;}
   #main .img1 img{border-radius: 5px; width: 400px;}
   #bottomMenu{margin: 10px 10px 10px 60px;}

   /* register 스타일 */
    #register{width: 500px; margin: 30px auto 100px;}
    #register form{margin: 30px auto;}
    #register form ul li{margin: 30px;}
    #register form label{width: 120px; float: left; padding-left: 30px;
        margin-right: 20px;}

    /* memberlist 스타일 */
    #memberlist{width: 600px; margin: 40px auto 100px;}
    #memberlist table{width: 600px; margin: 30px auto;}

    /* login 스타일 */
    #login {width: 480px; margin: 30px auto 100px;}
    #login form{margin: 30px auto;}
    #login form ul li{margin: 40px;}
    #login form label{width: 100px; float: left; padding-left: 30px;}
    #login form p.error{text-align: center; color: #f00; font-weight: bold;
            padding-top: 20px;}

    /* boardlist 스타일 */
    #boardlist{width: 650px; margin: 40px auto 100px;}
    #boardlist table{width: 650px; margin: 30px auto;}
    #boardlist table th, td{padding: 10px 0; font-size: 0.8em;}


    /* writing 스타일 */
    #writing {width: 650px; margin: 40px auto 100px;}
    #writing table {width: 650px; margin: 30px auto;}
    #writing table input[type='text'] {width: 630px; height: 25px; padding: 5px}
    #writing textarea {width: 630px; height: 350px; padding: 5px; line-height: 1.5;}
    #writing table input[type='submit'], input[type='reset'] {width: 90px; height: 35px;}


    /* detail 스타일 */
    #detail {width: 650px; margin: 40px auto 100px;}
    #detail table {width: 650px; margin: 30px auto;}
    #detail table input[type='text'] {width: 630px; height: 25px; padding: 5px}
    #detail textarea {width: 630px; height: 350px; padding: 5px; line-height: 1.5;}
    #detail table input[type='button'] {width: 90px; height: 35px;}


    /* update 스타일 */
    #update {width: 650px; margin: 40px auto 100px;}
    #update table {width: 650px; margin: 30px auto;}
    #update table input[type='text'] {width: 630px; height: 25px; padding: 5px}
    #update textarea {width: 630px; height: 350px; padding: 5px; line-height: 1.5;}
    #update table input[type='submit'], input[type='reset'] {width: 90px; height: 35px;}