/* 공통 스타일 */
#container{width: 90%; margin:0 auto; text-align: center}
h1{color: #00f;}
ul li{list-style: none;}

/* even_odd 스타일 */
#even_odd .error{color: red; font-weight: bold;}

/* register 스타일 */
#register{width: 460px; margin: 0 auto}
#register form ul li{margin: 20px}
#register form label{width: 80px; float: left;
    text-align: right}
#register form input[type='text'], input[type='password']{
    width: 200px; height: 25px;}
#register form input[type='submit'], input[type='reset']{
    width: 80px; height: 30px;}

/* memberlist 스타일  */
#list table{width: 600px; margin: 0 auto;}
#list table, th, td{border: 1px solid #ccc;
    border-collapse: collapse;}
#list table th, td{padding: 10px 0}
#list table thead{background: #eee;}