<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>Market</display-name>
  <!-- 보안(권한 설정) -->
	<security-role>
		<role-name>admin</role-name>
	</security-role>
	<security-constraint>
		<web-resource-collection>
			<web-resource-name>Market</web-resource-name>
			<url-pattern>/productForm.do</url-pattern>
			<url-pattern>/editProduct.do</url-pattern>
		</web-resource-collection>
		<auth-constraint>
			<description>권한사용자명</description>
			<role-name>admin</role-name>
		</auth-constraint>
	</security-constraint>
	
	<!-- 사용자 폼 기반 인증 -->
	<login-config>
		<auth-method>FORM</auth-method>
		<form-login-config>
			<form-login-page>/security/adminLogin.jsp</form-login-page>
			<form-error-page>/security/loginFailed.jsp</form-error-page>
		</form-login-config>
	</login-config>
  
    <!-- 404(페이지가 없을때), 500(코드 오류) -->
    <error-page>
    	<error-code>500</error-code>
        <location>/error/errorPage.jsp</location>
    </error-page>
    
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
</web-app>