<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>안녕하세요</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div id="container">
        <header>
            <h1>짝수/홀수 판정 프로그램</h1>
        </header>
        <section id="even_odd">
            <form action="" method="post">
                {% if error_msg %}
                    <p class = "error">{{ error_msg }}</p>
                {% endif %}
                <p>
                    <labe>숫자 입력 : </labe>
                    <input type="text" name="num">
                    <input type="submit" value="전송">
                </p>
            </form>
        </section>
    </div>

    <script src="{{ url_for('static', filename='main.js') }}"></script>
</body>
</html>