@charset "UTF-8";

/* common 스타일 */
*{margin: 0; padding: 0;}
#container{width: 90%; margin: 0 auto;}
a{text-decoration: none;}
ul li{list-style: none;}

/* header 스타일 */
header{height: 100px; background: #0077cc;}
#logo{float: left; width: 20%; height: 100px; line-height: 100px; text-align: left;}
#logo h1 a{color: #eee; padding-left: 15px; font-size: 1.3em; font-style: italic;}
nav{float: right; width: 70%; height: 100px;}
/* 주메뉴 */
#topMenu{height: 100px; line-height: 100px;}
#topMenu li{float: left; margin: 0 20px;}
#topMenu li a{display: block; padding: 0 20px; color: #eee;}
#topMenu li a:hover{ color: #444;}

/* main 스타일 */
#main{clear: both; margin: 30px auto 100px; text-align: center;}
#main .img1{margin: 20px auto; }
#main .img1 img{border-radius: 5px; width: 600px;}

/* footer 스타일 */
footer{height: 80px; border-top: 2px solid #222;}
#bottomMenu{margin: 10px 10px 10px 20px;}
#bottomMenu li{display: inline-block; margin: 10px 0; padding: 0 10px;
    border-right: 1px solid #ccc;}
#bottomMenu li a{color: #444; font-size: 0.9em;}
#bottomMenu li:last-child{border: none;}

/* register 스타일 */
#register{width: 400px; margin: 30px auto 100px;}
#register form{margin: 30px auto;}
#register form fieldset{padding-bottom: 20px;}
#register form ul li{margin: 30px 20px;}
#register form label{width: 120px; float: left; padding-left: 10px;
    margin-right: 10px;}
#register form input[type='text']{width: 210px; height: 25px}
#register form input[type='password']{width: 210px; height: 25px}
#register form li label.radio{width: 50px; }
#register form .button{width: 400px; height: 50px; text-align: center;}
#register form input[type='submit']{width: 80px; height: 30px; margin-top: 30px;}
#register form input[type='reset']{width: 80px; height: 30px; margin-top: 30px;}

/* memberlist 스타일 */
#memberlist{width: 550px; margin: 40px auto 100px;}
#memberlist table{width: 550px; margin: 30px auto;}
#memberlist table, th, td{border: 1px solid #ccc;
    border-collapse: collapse; text-align: center;}
#memberlist table th, td{padding: 10px 0; font-size: 0.9em;}
#memberlist table thead{background: #eee;}

/* detail 스타일 */
#detail{width: 400px; margin: 30px auto 100px;}
#detail table{width: 400px; margin: 30px auto;}
#detail table, td{border: 1px solid #ccc;
    border-collapse: collapse; text-align: center;}
#detail table td{padding: 10px 0; font-size: 0.9em;}
#detail table input[type='text']{width: 200px; padding: 5px;}
#detail table td button{padding: 5px 10px;}

/* login 스타일 */
#login {width: 400px; margin: 30px auto 100px;}
#login form{margin: 30px auto;}
#login form ul li{margin: 30px;}
#login form ul li:nth-of-type(3){text-align: center; margin-left: 0}
#login form label{width: 100px; float: left; padding-left: 10px;}
#login form .button{width: 400px; height: 50px; text-align: center;}
#login form input[type='text'], input[type='password']{width: 200px; height: 30px;}
#login form input[type='submit']{padding: 10px 15px; margin-top: 10px;}
