@charset "UTF-8";
/* 공통 스타일 */
*{margin: 0; padding: 0;}
#container{width: 90%; height: 500px; margin: 50px auto;}
a{text-decoration: none;}
ul li{list-style: none;}

/* header 스타일 */
header{height: 100px; background: #0077cc;}
#logo{float: left; width: 20%; height: 100px; line-height: 100px; 
		text-align: left;}
#logo h1 a{color: #eee; padding-left: 15px; font-size: 1.3em; 
		font-style: italic;}
nav{float: right; width: 70%; height: 100px;}

/* 주메뉴  */
#topMenu{height: 100px; line-height: 100px;}
#topMenu li{float: left; margin: 0 20px;}
#topMenu li a{display: block; padding: 0 20px; color: #eee;}
#topMenu li a:hover{ color: #444;}

/* index 스타일 */
h2{text-align: center;}
#main{margin: 20px auto; text-align: center;}
#main .main_img{margin: 20px auto;}
#main .main_img img{border-radius: 5px;}

/* footer 스타일 */
footer {height: 80px; border-top: 2px solid #222; text-align: center;}
#bottomMenu {margin: 10px 10px 10px 20px;}
#bottomMenu li {display: inline-block; margin: 10px 0; padding: 0 10px;
	border-right: 1px solid #ccc;}
#bottomMenu li a {color: #444; font-size: 0.9em;}
#bottomMenu li:Last-child {border: none;}

/* memberList 스타일  */
#memberlist{width: 550px; margin: 40px auto;}
#memberlist table{width: 550px; margin: 30px auto;}
#memberlist table, th, td{border: 1px solid #ccc; 
	border-collapse: collapse; text-align: center;}
#memberlist table th, td{padding: 10px 0; font-size: 0.9em;}
#memberlist table thead{background: #eee;}

/* register 스타일 */
#register{width: 450px; margin: 30px auto;}
#register form{margin: 30px auto;}
#register form fieldset{padding-bottom: 20px;}
#register form ul li{margin: 30px 20px;}
#register form label{width: 120px; float: left; padding-left: 10px;
    margin-right: 10px;}
#register form input[type='text']{width: 210px; height: 25px}
#register form input[type='password']{width: 210px; height: 25px}
#register form li label.radio{width: 50px; }
#register form .button{width: 400px; height: 50px; text-align: center;}
#register form input[type='submit']{width: 80px; height: 30px; margin-top: 30px;}
#register form input[type='reset']{width: 80px; height: 30px; margin-top: 30px;}

/* detail 스타일 */
#detail{width: 400px; margin: 30px auto 100px;}
#detail table{width: 400px; margin: 30px auto;}
#detail table, td{border: 1px solid #ccc;
    border-collapse: collapse; text-align: center;}
#detail table td{padding: 10px 0; font-size: 0.9em;}
#detail table input[type='text'] {width: 200px; padding: 5px;}
#detail table input[type='password']{width: 200px; padding: 5px}
#detail table td button{padding: 5px 10px;}

/* login 스타일 */
#login {width: 400px; margin: 30px auto 100px;}
#login form {margin: 30px auto;}
#login form ul li {margin: 30px;}
#login form label {width: 100px; float: left; padding-left: 10px;}
#login form .button {width: 400px; height: 50px; text-align: center;}
#login form input[type='text'], input[type='password'] {width: 200px; height: 30px;}
#login form input[type='submit'] {padding: 10px 15px; margin-top: 10px;}

/* boardList 스타일 */
#boardlist{width: 650px; margin: 40px auto 200px;}
#boardlist table{width: 550px; margin: 30px auto;}
#boardlist table, th, td{border: 1px solid #ccc; 
	border-collapse: collapse; text-align: center;}
#boardlist table th, td{padding: 10px 0; font-size: 0.9em;}
#boardlist table thead{background: #eee;}
#boardlist .btnWrite{text-align: right; margin-right: 15%;}
#boardlist button{padding: 10px;}


