@charset "UTF-8";

#container{width: 90%; margin: 50px auto;
	text-align: center;}

/* 주소 등록 스타일 */
#tbl_reg{width: 450px; margin: 20px auto;}
#tbl_reg, td{border: 1px solid #ccc; border-collapse: collapse;}
#tbl_reg td{padding: 10px;}
#tbl_reg input[type='text']{padding: 5px; width: 230px;}
#tbl_reg input[type='submit'], input[type='reset']{padding: 5px 10px;
	margin-right: 5px;}
#tbl_reg select{padding: 5px;}

/* 주소 목록 스타일 */
#tbl_list{width: 700px; margin: 20px auto;}
#tbl_list, th, td{border: 1px solid #ccc; border-collapse: collapse;}
#tbl_list th, td{padding: 10px;}
#tbl_list thead{background: #eee;}

/* 주소 상세보기 스타일 */
#tbl_view {width: 450px; margin: 20px auto;}
#tbl_view, td {border: 1px solid #ccc; border-collapse: collapse;}
#tbl_view td {padding: 15px;}
#tbl_view input[type="text"] {padding: 5px;}